{% extends 'store/main.html' %}
{% load static %}
{% block content %}
<div class="row">
    <div class="col-lg-6">
        <!-- Formularul de informații despre utilizator și livrare -->
        <div class="box-element" id="form-wrapper">
            <form id="form">
                <!-- Informații despre utilizator -->
                <div id="user-info">
                    <!-- Câmp pentru numele utilizatorului -->
                    <div class="form-field">
                        <input required class="form-control" type="text" name="name" placeholder="Name..">
                    </div>
                    <!-- Câmp pentru adresa de email a utilizatorului -->
                    <div class="form-field">
                        <input required class="form-control" type="email" name="email" placeholder="Email..">
                    </div>
                </div>

                <!-- Informații despre livrare -->
                <div id="shipping-info">
                    <hr>
                    <p>Shipping Information:</p>
                    <hr>
                    <!-- Câmpuri pentru adresa de livrare -->
                    <div class="form-field">
                        <input class="form-control" type="text" name="address" placeholder="Address..">
                    </div>
                    <div class="form-field">
                        <input class="form-control" type="text" name="city" placeholder="City..">
                    </div>
                    <div class="form-field">
                        <input class="form-control" type="text" name="county" placeholder="County..">
                    </div>
                    <div class="form-field">
                        <input class="form-control" type="text" name="zipcode" placeholder="Zip code..">
                    </div>
                    <div class="form-field">
                        <input class="form-control" type="text" name="country" placeholder="Country..">
                    </div>
                </div>

                <hr>
                <!-- Buton pentru a continua procesul de cumpărare -->
                <input id="form-button" class="btn btn-success btn-block" type="submit" value="Continue">
            </form>
        </div>

        <br>

        <!-- Informații despre plată, inițial ascunse -->
        <div class="box-element hidden" id="payment-info">
            <small>Paypal Options</small>
            <!-- Container pentru butonul PayPal -->
            <div id="paypal-button-container"></div>
            <!-- <button id ="make-payment">Make payment</button> -->
        </div>

    </div>

    <div class="col-lg-6">
        <!-- Sumarul comenzii -->
        <div class="box-element">
            <!-- Buton pentru a reveni la coșul de cumpărături -->
            <a class="btn btn-outline-dark" href="{% url 'cart' %}">&#x2190; Back to Cart</a>
            <hr>
            <!-- Titlu pentru sumarul comenzii -->
            <h3>Order Summary</h3>
            <hr>

            <!-- Rânduri pentru fiecare produs din coș -->
            {% for item in items %}
            <div class="cart-row">
                <!-- Imaginea produsului -->
                <div style="flex:2"><img class="row-image" src="{{ item.product.imageURL }}"></div>
                <!-- Numele produsului -->
                <div style="flex:2">
                    <p>{{ item.product.name }}</p>
                </div>
                <!-- Prețul produsului -->
                <div style="flex:1">
                    <p>{{ item.product.price }} RON</p>
                </div>
                <!-- Cantitatea produsului -->
                <div style="flex:1">
                    <p>x{{ item.quantity }}</p>
                </div>
            </div>
            {% endfor %}

            <!-- Informații despre total și cantitatea totală de produse -->
            <h5>Items: {{ order.get_cart_items }}</h5>
            <h5>Total: {{ order.get_cart_total }} Ron</h5>
        </div>
    </div>
</div>

<!-- Script pentru includerea bibliotecii PayPal -->
<script src="https://www.paypal.com/sdk/js?client-id=test&currency=RON"></script>

<!-- Script pentru configurarea și afișarea butonului PayPal -->
<script>
    paypal.Buttons({
        style: {
            color: 'blue',
            shape: 'rect',
        },
        // Funcție apelată pentru inițializarea tranzacției pe server
        createOrder: function (data, actions) {
            return fetch('/demo/checkout/api/paypal/order/create/', {
                method: 'post'
            }).then(function (res) {
                return res.json();
            }).then(function (orderData) {
                return orderData.id;
            });
        },
        // Funcție apelată pentru finalizarea tranzacției pe server
        onApprove: function (data, actions) {
            return fetch('/demo/checkout/api/paypal/order/' + data.orderID + '/capture/', {
                method: 'post'
            }).then(function (res) {
                return res.json();
            }).then(function (orderData) {
                var errorDetail = Array.isArray(orderData.details) && orderData.details[0];
                if (errorDetail && errorDetail.issue === 'INSTRUMENT_DECLINED') {
                    return actions.restart(); 
                }
                if (errorDetail) {
                    var msg = 'Sorry, your transaction could not be processed.';
                    if (errorDetail.description) msg += '\n\n' + errorDetail.description;
                    if (orderData.debug_id) msg += ' (' + orderData.debug_id + ')';
                    return alert(msg); 
                }
                console.log('Capture result', orderData, JSON.stringify(orderData, null, 2));
                var transaction = orderData.purchase_units[0].payments.captures[0];
                alert('Transaction ' + transaction.status + ': ' + transaction.id + '\n\nSee console for all available details');
                
            });
        }
    }).render('#paypal-button-container');
</script>

<!-- Script pentru gestionarea afișării și ascunderii informațiilor de livrare -->
<script type="text/javascript">
    var shipping = '{{ order.shipping }}';
    var total = '{{order.get_cart_total|floatformat:2}}'
    if (shipping == 'False') {
        document.getElementById('shipping-info').style.display = 'none';
    }

    if (user != 'AnonymousUser') {
        document.getElementById('user-info').innerHTML = ''
    }

    if (shipping == 'False' && user != 'AnonymousUser') {
        // Ascunde întregul formular dacă utilizatorul este autentificat și valoarea de livrare este False
        document.getElementById('form-wrapper').classList.add("hidden")
        // Afișează informații despre plată
        document.getElementById('payment-info').classList.remove("hidden")
    }

    var form = document.getElementById('form');

    form.addEventListener('submit', function (e) {
        e.preventDefault();
        console.log("Form submitted...");
        document.getElementById("form-button").classList.add("hidden");
        document.getElementById("payment-info").classList.remove("hidden");
    });

    // Funcție pentru trimiterea datelor formularului la server
    function submitFormData() {
        console.log('Payment button clicked')

        var userFormData = {
            'name': null,
            'email': null,
            'total': total,
        }

        var shippingInfo = {
            'address': null,
            'city': null,
            'county': null,
            'zip': null,
            'country': null,

        }

        if (shipping != 'False') {
            shippingInfo.address = form.address.value
            shippingInfo.city = form.city.value
            shippingInfo.county = form.county.value
            shippingInfo.zipcode = form.zipcode.value
        }

        if (user == 'AnonymousUser') {
            userFormData.name = form.name.value
            userFormData.email = form.email.value

        }

        var url = '/process_order/'
        fetch(url, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': csrftoken,
            },
            body: JSON.stringify({ 'form': userFormData, 'shipping': shippingInfo })
        })
            .then((response) => response.json())
            .then((data) => {
                console.log('Success:', data);
                alert('Transaction completed');

                cart = {}
                document.cookie = 'cart=' + JSON.stringify(cart) + ";domain=;path=/"
                window.location.href = "{% url 'store'%}"
            })
    }
</script>
{% endblock content %}
